#report{
    background-color: #D9D9D9;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#report h1{
    color: #2B5250;
}

#report input{
    margin-top: 25px;
    border-radius: 5px;
    background: #ffffff;
    width: 358px;
    height: 38px;
}

.reportBut{
    margin-top: 10px;
    float: right;
    color: #007e77;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sora;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.2px;
    background: none;
    border: none;
}

.reportBut:hover{
    color: #003835;
}